################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesignPattern.FactoryMethod/v16
/src/Example/bin/Debug/netcoreapp3.1
/src/Example/obj
